{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pagetitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    {% include 'menu.html' %}
</header>
<h1 class="title">{{ pageheader }}</h1>
{% block content %}
{% endblock %}

{% include 'footer.html' %}
<script src="{% static 'bootstrap.bundle.min.js' %}"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<style>
    .btn.btn-primary{
        transition: .3s;
    }
    .btn.btn-primary:hover{
        transform: scale(1.05);
	    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }

</style>
</body>
</html>