{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="modal" id="modal"></div>
<div class="container">
    <div class="row mt-5">
        <h3 class="mt-5 text-center">Введите данные, чтобы создать своего личного телеграмм-бота</h3>
        <br>
        <hr class="col-10 offset-1">
        <form action=""></form>
        <form class="col-8 offset-2 form p-2" method="POST" action="" style=""><br>
            {% csrf_token %}
            <div class="col-10 offset-1">
                <input required type="text" class="form-control m-1" placeholder="Bot TOKEN" name="token">
                <input required type="text" class="form-control m-1" placeholder="Bot name" name="name">
                <input required type="text" class="form-control m-1" placeholder="Bot short name" name="short_name">
                <button type="button" id="question" class="btn card-text text-primary text-end" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        style="font-size: 24px; margin-right: 10px;display: inline-block;">Где взять данные?
                </button>
                <div class="modal fade" style="margin-top: 15vh;" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 200%; margin-left: -50%; height: 50vh">
                        <div class="modal-header" style="text-align: center" id="modal_header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div id="modal_content" style="display: inline-block;" class="modal-body">
                            <img style="border: 2px solid white; border-radius: 10px;" src="../../staticroot/gifs/wiki.gif" id="modal_gif" class="col-5" alt="">
                            <p id="modal_content_text" class="col-6 offset-6" style="margin-top: -20vh;"></p>
                            <div id="syntax_text" class="col-6 offset-6 mt-5">
                                <p>Синтаксис команды</p>
                                <div class="form-floating">
                                  <textarea type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                                  <label for="floatingInputDisabled"><span id="modal_syntaxis" style="color: rgb(0, 119, 255)"></span> <i id="modal_graytext"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                        </div>
                    </div>
                </div>
                <input id="search" type="text" class="form-control" placeholder="Поиск по функциям"><br>
                <div id="os_search" class="col-8 offset-3 mb-3">
                    <input name="os"  value="win" id="win" required type="radio" class="form-check-input">
                    <label>Windows</label>
                    <input name="os" value="mac" id="mac" required type="radio" class="form-check-input">
                    <label>MacOs</label>
                    <input name="os" value="linux" id="linux" required type="radio" class="form-check-input">
                    <label>Linux</label>
                </div>
            </div>
            <div id="functions" class="offset-0">
            </div>
            <input href="" class="card-text btn btn-primary col-4 offset-4 p-3 fs-4" type="submit" id="create" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop" value="Отправить">

        </form>
    </div>
</div>
<script>
    'use strict';

    //создание класса карточки

    class Card{
        constructor(name, descriprion, photo, os, modal, syntaxis, graytext) {
            this.name = name
            this.descriprion = descriprion
            this.photo = photo
            this.os = os
            this.modal = modal
            this.syntaxis = syntaxis
            this.graytext = graytext
        }
    }

    //создание объектов карточек

    let cards = [new Card("Вики", "Данная функция обеспечивает возможность получения статьи с веб-ресурса 'Википедия' на основе заданного ключевого запроса прямо в мессенджере", "wiki.svg", [1,1,1], "wiki.gif", "wiki", "слово_для_поиска"),
    new Card("Анекдот", "Данная функция отправляет вам случайный анекдот", "smile.png", [1,1,1], "anekdot.gif", "anekdot", ""),
     new Card("Панда", "Данная функция предоставляет вам возможность получить изображение обожаемого всеми медведя-панды. Существует ли кто-то, кто не испытывает любви к этим милым созданиям?", "panda.jpg",  [1,1,1], "panda.gif", "panda", ""),

    new Card("Получить изображение с веб-камеры ПК", "Данная функция позволяет дистанционно получить изображение с веб-камеры компьютера", "webcam.png", [1,1,1], "webcam.gif", "webcam", ""),
    new Card("Поменять обои на ПК", "Данная функция меняет обои на вашем компьютере", "wallpaper.jpg", [1,0,0], "wiki.gif", "wallpaper"),
    new Card("Выключить ПК", "Данная функция обеспечивает возможность удаленного выключения компьютера", "turnoff.png", [1, 0, 0], "wiki.gif", "turnoff"),
    new Card("Перезагрузить ПК", "Данная функция предоставляет возможность осуществления перезагрузки компьютера, не присутствуя при этом находясь в непосредственной близости от него.", "reboot.png", [1, 0, 0], "wiki.gif", ""),
    new Card("Информация о ПК", "Данная функция предоставляет Вам полный комплекс технической информации о Вашем компьютере", "info.png", [1,0,0], "info.gif", "komp", ""),
    new Card("Скриншот", "Данная функция осуществляет отправку изображения экрана вашего персонального компьютера в диалог с ботом", "camera.png", [1,0,0], "capture.gif", "capture", ""),
    new Card("Загрузить на ПК", "Данная функция позволяет загрузить файл с компьютера в телеграмм", "upload.jpg", [1,0,0], "download.gif", "download", "\n-Файл"),
    new Card("Скачивание файла с ПК", "Данная функция позволяет загрузить файл на компьютер с телеграмма", "download.png", [1, 0, 0], "upload.gif", "upload", "\n-Путь_до_файла"),
    
    new Card("Pdf ==> Docx", "Данная функция конвертирует файлы формата PDF в файлы формата DOCX", "pdf_to_docx.png", [1,1,1], "wiki.gif", "pdf2docx", "\n-pdf_файл"),
    new Card("Pdf ==> Jpg", "Данная функция конвертирует файлы формата PDF в файлы формата jpg", "pdf_to_jpg.svg", [1,1,1], "wiki.gif", "pdf2jpg", "\n-pdf_файл"),
    new Card("MP4 ==> MP3", "Данная функция конвертирует файлы формата MP4 в файлы формата MP3", "mp4_to_mp3.jpg", [1, 0, 0], "wiki.gif", "mp42mp3", "\n-mp4_файл"),

    new Card("API", "Данная функция добавляет 4 различных команд связанных с API", "api.png", [1,1,1], "wiki.gif", "add_api\n/run_api\n/list_api\n/delete_api", "\n-pdf_файл\n-pdf_файл\n-pdf_файл\n-pdf_файл"),
    new Card("Скачать видео/плейлист с Ютуба", "Данная функция выполняет два действия — при отправке URL видео, она скачает полностью видео. При отправке URL плейлиста она скачает и отправит звуковые дорожки всех видео в этом плейлисте", "youtube_downloader.png", [1,1,1], "yt.gif", "", "Ссылка_на_видео/плейлист"),
    new Card("TTS", "Данная функция преобразовывает текст в речь, синтезируя голос", "tts_logo.png", [1,1,1], "tts.gif", "tts", "\n-Текст"),
    new Card("STT", "Данная функция преобразовывает речь в текст, распознавая голос", "stt_logo.png", [1,1,1], "stt.gif", "", "Работает при отправке ГС"),]


    //добавление карточкек в html

    for(let i = 0; i < cards.length; ++i){
        let card_values = cards[i]
        let template = `<div id="card" class="card mb-3" style="max-width: 900px; padding: 20px; background-color: #fff;">
            <label class="checkbox-ios" style="margin-left: auto; margin-top: 10px">
                            <input type="checkbox" name="functions" value="${card_values.name}">
                            <span class="checkbox-ios-switch"></span>
                        </label>
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src='{% static "/media/${card_values.photo}" %}' alt="" style="max-width: 150px">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">${card_values.name}</h5>
                          <p class="card-text card-description">${card_values.descriprion}</p>
                        </div>
                      </div>
                      <button type="button" id="${card_values.name.split(" ")[0]}_question" class="btn card-text text-muted text-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="margin-left: auto; font-size: 36px; margin-right: 10px; width: 50px">?</button>
                    </div>
                </div>
                </div>`

        let result = new DOMParser().parseFromString(template, "text/html").getElementsByTagName("div")[0] //парсинг строки в html код

        functions.appendChild(result)//добавление карточки на страницу

        //изменение контента модалки
        document.querySelector(`#${card_values.name.split(" ")[0]}_question`).addEventListener("click", () => {
            modal_header.innerHTML = card_values.name
            modal_content_text.innerHTML = card_values.descriprion
            syntax_text.classList.remove("d-none")
            modal_syntaxis.innerHTML = "/" + card_values.syntaxis
            console.log(card_values.syntaxis)
            modal_gif.src = '../../staticroot/gifs/' + card_values.modal
            modal_graytext.innerHTML = card_values.graytext
        })
        
        //модалка при создании бота
        create.addEventListener("click", () => {
            modal_header.innerHTML = "Ваш бот создается..."
            modal_content_text.innerHTML = "Создание бота занимает некоторое время. Обычно это не столь долгий процесс. Сразу после создания вас переведет на страницу, где вы сможете его скачать. Если у вас возникли какие-то проблемы, обратитесь в техподдержку. Вы можете закрыть это окно."
            syntax_text.classList.add("d-none")
            modal_gif.src = '../../staticroot/gifs/load.gif'
        })

        //поиск по ОС

        let os = [0,0,0]

        function search_os_function(os_){
            os = os_
            for (let i = 0; i < cards.length; ++i){
                console.log(functions.children[i])
                if (cards[i].os[0] & os[0] || cards[i].os[1] & os[1]  || cards[i].os[2] & os[2]){
                    console.log(0)
                    functions.children[i].classList.remove("d-none")
                } else {
                    console.log(1)
                    functions.children[i].classList.add("d-none")
                }
                if (os[0] == 0 && os[1] == 0 && os[2] == 0){
                    functions.children[i].classList.remove("d-none")
                }
            }
        }

        //изменение ОС в зависимости от радиобатона

        win.addEventListener("input", () => {
            search_os_function([1,0,0])
        })
        mac.addEventListener("input", () => {
            search_os_function([0,1,0])
        })
        linux.addEventListener("input", () => {
            search_os_function([0,0,1])
        })


        //поиск по названию и описанию карточек

        search.addEventListener("input", () => {
            for (let i = 0; i < cards.length; ++i) {
                let name = cards[i].name.toLowerCase()
                let descriprion = cards[i].descriprion.toLowerCase()
                let search_text = search.value.toLowerCase()
                if ((name.includes(search_text) || descriprion.includes(search_text)) == false) {
                    functions.children[i].classList.add("d-none")
                } else {
                    functions.children[i].classList.remove("d-none")
                }
            }
        })
    }


</script>
{% endblock %}