{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="modal" id="modal"></div>
<div class="container">
    <div class="row mt-5">
        <h3 class="mt-5 text-center">Введите данные, чтобы создать своего личного телеграмм-бота</h3>
        <br>
        <hr class="col-10 offset-1">
        <form action=""></form>
        <form class="col-8 offset-2 form p-2" method="POST" action="" style=""><br>
            {% csrf_token %}
            <div class="col-10 offset-1">
                <input required type="text" class="form-control m-1" placeholder="Bot TOKEN" name="token">
                <input required type="text" class="form-control m-1" placeholder="Bot name" name="name">
                <input required type="text" class="form-control m-1" placeholder="Bot short name" name="short_name">
                <button type="button" id="question" class="btn card-text text-primary text-end" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        style="font-size: 24px; margin-right: 10px;display: inline-block;">Где взять данные?
                </button>
                <div class="modal fade" style="margin-top: 15vh;" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header" id="modal_header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div id="modal_content" class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                        </div>
                    </div>
                </div>
                <input id="search" type="text" class="form-control" placeholder="Поиск по функциям"><br>
            </div>
            <div id="functions" class="offset-0">
            </div>
            <input href="../payment/" class="btn btn-primary col-4 offset-4 p-3 fs-4" type="submit" value="Отправить">
        </form>
    </div>
</div>
<script>
    'use strict';

    class Card{
        constructor(name, descriprion, price, photo, os) {
            this.name = name
            this.descriprion = descriprion
            this.price = price
            this.photo = photo
            this.os = os
        }

        returnValues() {
            return this.name, this.descriprion, this.price, this.photo, this.os 
        }
    }

    let cards = [new Card("Wiki", "Данная функция обеспечивает возможность получения статьи с веб-ресурса 'Википедия' на основе заданного ключевого запроса прямо в мессенджере", "free", "wiki.svg", [1,1,1]),
    new Card("Anekdot", "Данная функция отправляет вам случайный анекдот", "free", "smile.png", [1,1,1]),
    new Card("Screenshot", "Данная функция осуществляет отправку изображения экрана вашего персонального компьютера в диалог с ботом", "free", "camera.png", [1,0,0]),
    new Card("Info about PC", "Данная функция предоставляет Вам полный комплекс технической информации о Вашем компьютере", "free", "info.png", [1,0,0]),
    new Card("Turn off the PC", "Данная функция обеспечивает возможность удаленного выключения компьютера", "free", "turnoff.png", [1, 0, 0]),
    new Card("Reboot the PC", "Данная функция предоставляет возможность осуществления перезагрузки компьютера, не присутствуя при этом находясь в непосредственной близости от него.", "free", "reboot.png", [1, 0, 0]),
    new Card("Panda", "Данная функция предоставляет вам возможность получить изображение обожаемого всеми медведя-панды. Существует ли кто-то, кто не испытывает любви к этим милым созданиям?", "free", "panda.jpg", [1,1,1])]

    for(let i = 0; i < cards.length; ++i){
        let card_values = cards[i]
        let template = `<div id="card" class="card mb-3" style="max-width: 900px; padding: 20px; background-color: #fff;">
            <label class="checkbox-ios" style="margin-left: auto; margin-top: 10px">
                            <input type="checkbox" name="functions" value="${card_values.name}">
                            <span class="checkbox-ios-switch"></span>
                        </label>
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src='{% static "${card_values.photo}" %}' alt="" style="max-width: 150px">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">${card_values.name}</h5>
                          <p class="card-text card-description">${card_values.descriprion}</p>
                          <p class="card-text card-price"><small class="text-muted">${card_values.price}</small></p>
                        </div>
                      </div>
                      <button type="button" id="${card_values.name.split(" ")[0]}_question" class="btn card-text text-muted text-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="margin-left: auto; font-size: 36px; margin-right: 10px; width: 50px">?</button>
                    </div>
                </div>
                </div>
                `
        
        let result = new DOMParser().parseFromString(template, "text/html").getElementsByTagName("div")[0]

        functions.appendChild(result)
        document.querySelector(`#${card_values.name.split(" ")[0]}_question`).addEventListener("click", () => {
            console.log(modal_content)
            modal_header.innerHTML = card_values.name
            modal_content.innerHTML = card_values.descriprion
        })

        search.addEventListener("input", () => {
            for (let i = 0; i < cards.length; ++i) {
                let name = cards[i].name.toLowerCase()
                let descriprion = cards[i].descriprion.toLowerCase()
                let search_text = search.value.toLowerCase()
                if ((name.includes(search_text) || descriprion.includes(search_text)) == false) {
                    functions.children[i].style.display = "none"
                } else {
                    functions.children[i].style.display = "block"
                }
            }
        })
    }


</script>
{% endblock %}