{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-10 offset-1 mt-5">
            <h2 class="text-center mt-5">Чтобы скачать файл с вашим уникальным ботом, нажмите кнопку ниже. Если у вас возникли проблемы, вы всегда можете 
                обратится в <a style="text-decoration: none;" href="../tech_support/">тех. поддержку!</a></h2>
            <div class="text-center">
                <h1>{{bot_status}}</h1>
                {% if bot_status != "SUCCESS" %}
                    {% if os == "win" %}
                        <a class="btn btn-primary p-3 fs-3 w-30 disabled" href="../../staticroot/BOT/{{ file }}.exe" download="">
                            Скачать бота
                        </a>
                    {% else %}
                        <a class="btn btn-primary p-3 fs-3 w-30 disabled" href="../../staticroot/BOT/{{ file }}" download="">
                            Скачать бота
                        </a>
                    {% endif %}
                {% else %}
                    {% if os == "win" %}
                        <a class="btn btn-primary p-3 fs-3 w-30" href="../../staticroot/BOT/{{ file }}.exe" download="">
                            Скачать бота
                        </a>
                    {% else %}
                        <a class="btn btn-primary p-3 fs-3 w-30" href="../../staticroot/BOT/{{ file }}" download="" >
                            Скачать бота
                        </a>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
