<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5" style="position: relative; margin-top:100%; width: 100%;">
  
    <!-- Section: Links  -->
    <section class="pt-1">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Bot God
            </h6>
            <p>
              На этом сайте вы можете создать своего уникального телеграмм-бота. Мы предлагаем уникальный набор функций для бота. Начните прямо сейчас!
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Меню
            </h6>
            <p>
              <a href="/" class="text-reset h-25">Главная</a>
            </p>
            <p>
              <a href="/registration/" class="text-reset">Регистрация</a>
            </p>
            <p>
              <a href="/login/" class="text-reset">Войти</a>
            </p>
            <p>
              <a href="/create_bot/" class="text-reset">Создать бота</a>
            </p>
            <p>
              <a href="/tech_support/" class="text-reset">Помощь</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
            <p>
              <i class="fas fa-envelope me-3"></i>
              bot_god@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>+7 (967) 182-97-82</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

</footer>
  <!-- Footer -->