<!-- Footer -->
<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary" style="position: fixed; display: block; bottom-0; left-0; width:100%">
  
    <!-- Section: Links  -->
    <section class="pt-1">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Bot God
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/" class="text-reset h-25">Main</a>
            </p>
            <p>
              <a href="registration/" class="text-reset">Registration</a>
            </p>
            <p>
              <a href="create_bot/" class="text-reset">Create bot</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacts</h6>
            <p>
              <i class="fas fa-envelope me-3"></i>
              bot_god@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>+7 (967) 182-97-82</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

</footer>
  <!-- Footer -->