{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #023653; color: white">
    <a class="navbar-brand" href="/" style="margin: -150px; margin-left: -70px; margin-bottom: -180px;">
        <img src="../../staticroot/media/main_logo.png" alt="Logo" width="300" height="300" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link nav-hover text-light m-2 fs-5" href="/create_bot/">Создать бота</a>
            </li>
            <li class="nav-item">
                {% if request.user.is_authenticated %}
                    <a class="nav-link text-light m-2 nav-hover icon-link icon-link-hover fs-5" href="/tech_support/">Пожаловаться</a>
                {% endif %}

            </li>
            <li class="nav-item">
                {% if request.user.is_superuser %}
                    <a class="nav-link nav-hover text-light m-2 fs-5" href="/admin/">Панель администратора</a>
                {% endif %}
            </li>
        </ul>
        <div class="position-absolute bottom-25 end-0">
            <ul class="navbar-nav flex-row-reverse">
                <li class="nav-item=">
                    <a class="nav-link nav-hover text-light m-2  fs-5" href="/profile/{{request.user.id}}/">Профиль</a>
                </li>
                <li class="vl"></li>
                <li class="nav-item=">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link nav-hover text-light m-2 fs-5" href="/logout/">Выйти</a>
                    {% else %}
                        <a class="nav-link nav-hover text-light m-2 fs-5" href="/login/">Войти</a>
                    {% endif %}
                </li>
          </ul>
        </div>
    </div>
</nav>

  <style>
        a.nav-hover{
	        transition: 0.2s;
        }

        a.nav-hover:hover{
                transform: scale(1.05);
                text-shadow: 1px 1px 2px black, 0 0 1em #1981b9, 0 0 0.2em #1981b9;
        }

        .vl {
            border-left: 1px solid white;
            height: 50px;
            margin-top: 7px;
        }

  </style>
