<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <div style="width: 100%; background-color: #023653;">
                    <img src="{% static 'media/main_logo.png' %}" alt="Logo" width="300" height="300" class="d-inline-block align-text-top">
                </div>
                <p>Здравствуйте, ваша жалоба принята на рассмотрение и будет рассмотрена в ближайшее время.
                    С уважением, команда BotGod.</p>
            </div>
        </div>
    </div>
</body>
</html>