<!DOCTYPE html>
<html lang="en" style="font-size: 18px; margin: 0; padding: 0;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body style="margin: 0; padding: 0;">
    <header style="padding: 1%; margin: 0; color: white; background-color: #023653; margin-bottom: 5%;">
        <h1 style="margin: auto; text-align: center;">BOTGOD</h1>
    </header>
    <main style="width: 70%; margin: 0 auto; border: 2px solid #023653; border-radius: 30px; padding: 1%;">
        <p>Ваше сообщение очень важно для нас. Оно будет рассмотрено в ближайшее время и на вашу почту будет направлен ответ. С уважением, команда BotGod.</p>
    </main>
    <footer>

    </footer>
</body>
</html>
