{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-6 offset-3 mt-5">
            <h2 class="text-left">Выберите способ оплаты</h2>
            <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
                <input type="hidden" name="receiver" value="4100118151035496"/>
                <input type="hidden" name="label" value="$order_id"/>
                <input type="hidden" name="quickpay-form" value="button"/>
                <input type="hidden" name="successURL" value="http://62.84.98.50/payment_success{{summ_of_increase}}"/>
                <input type="hidden" name="sum" value="2" data-type="number"/>
                <label><input class="form-check-input" type="radio" name="paymentType" value="PC"/>ЮMoney</label><br>
                <label><input class="form-check-input" type="radio" name="paymentType" value="AC"/>Банковской картой</label>
                <input class="btn btn-primary" type="submit" value="Перевести"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}