{% extends 'base.html' %}

{% block content %}
<section style="background-color: #eee; margin-top: 8vh; margin-bottom: 0;" class="p-2">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body text-center">
            <img src="{{ user.photo_url }}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;" id="photo">
              {% for associate in  backends.associated%}
                <li id="tg_response" style="display: none;">{{ associate.extra_data}}</li>
              {% endfor %}
            <h5 class="my-3">{{ request.user.username }}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="">Имя</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ request.user.first_name }} {{ request.user.last_name }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 w-100">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Ваши боты</p>
                {% if bots %}
                  {% for bot in bots %}
                      <div class="row">
                              <p class="mb-0 col-3">
                                @{{ bot.bot_name }}
                              </p>
                              <p class="text-muted mb-0 col-3">
                                {{ bot.created_at }}
                              </p>
                              <a class="btn btn-primary fs-2 p-0 col-1 offset-1" href="/download_bot/?preset={{bot.bot_name}}&os={{ bot.os }}">
                                &#8595;
                              </a>
                          <form action="" method="post" style="display: inline;" class="col-1">
                              {% csrf_token %}
                              <input type="submit" name="delete_bot {{ bot.id }}" class="btn btn-danger fs-2 offset-1" value="&#10060;">
                          </form>
                      </div>
                  {% endfor %}
                {% else %}
                      <hr>
                      <div class="row">
                        <div class="col-8 offset-2">
                          <h3>Вы пока не создали ни одного бота. <a href="../create_bot/">Сделайте это прямо сейчас!</a></h3>
                        </div>
                      </div>
                      <hr>
                {% endif %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  let tg_data = tg_response.innerHTML
  let index = 0
  let rindex = 0

  for(let i = 0; i < tg_data.length - 9; ++i) {
    console.log(tg_data.slice(i, i + 9))
    if (tg_data.slice(i, i + 9)  == "photo_url") {
      index = i + 15
      rindex = tg_data.indexOf("'", index)
    }
  }

  let photo_path = tg_data.slice(index - 1, rindex)
  photo.src = photo_path
</script>
{% endblock %}