{% extends 'base.html' %}

{% block content %}
<section style="background-color: #eee; margin-top: 8vh; margin-bottom: 0;" class="p-2">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{ user.photo_url }}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
              {% for associate in  backends.associated%}
                <li id="tg_response" style="display: none;">{{ associate.extra_data}}</li>
              {% endfor %}
            <h5 class="my-3">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Имя</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ request.user.first_name }} {{ request.user.last_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Телефон</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 w-100">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Ваши боты</p>
                {% for bot in bots %}
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">{{ bot.bot_name }}</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="text-muted mb-0">{{ bot.created_at }}</p>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-primary" href="/download_bot/?preset={{bot.bot_name}}&os={{ bot.os }}">
                                Скачать бота
                            </a>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  //{'id': ['933403584'], 
  //'first_name': ['Andrey'], 
  //'last_name': ['Sitalo'],
  // 'username': ['setta1a'],
  // 'photo_url': ['https://t.me/i/userpic/320/Lp6c03i3aYHMrmcvMPuK14KXQsPs_8kk3X1qG7lgXMg.jpg'], 
  //'auth_date': ['1682535097'], 
  //'hash': ['e258c0fcd556be776d66e58c6cc1664b3619e89f65c783fe7d18e4589250a343']}
  let tg_data = tg_response.innerHTML
  parsed_data = JSON.parse(tg_data)
  console.log(parsed_data)
  let index = 0
  let rindex = 0

  for(let i = 0; i < tg_data.lenght - 9; ++i) {
    if (tg_data.slice(i, i + 10)  == "photo_url") {
      index = i + 15
      rindex = tg_data
    }
  }

  let photo_path = ""
</script>
{% endblock %}