{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="card col-8 offset-2 p-5" style="margin-top: 10vh;">
            <h2 class="text-center">Наш сайт работает с телеграмм, поэтому авторизуйтесь с помощью своего телеграмм-аккаунта</h2>
            <div class="col-8 offset-4 mt-3">
                <a href="../staticroot/1.html" style="padding: 10px;">Войти через Telegram</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
